$btn-color: rgb(214, 214, 214);
$operator-btn-color: rgb(219, 155, 52);
$clear-btn-color: rgb(90, 144, 189);
$active-btn-color: rgb(61, 64, 68);
$display-color: rgb(36, 36, 36);
$color-dark: rgb(41, 41, 41);
$color-bright: rgb(250, 250, 250);
$color-operations: rgb(167, 173, 179);

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.content {
  display: flex;
  flex-direction: row;
}
h2 {
  margin: 0;
  padding: 2px 0px;
  font-size: 0.7rem;
  font-weight: 500;
  color: $color-dark;
}
input {
  padding: 1px 3px;
  width: 140px;
  height: 20px;
  border: 1px solid $btn-color;
  border-radius: 5px;
  &:focus {
    outline-color: $operator-btn-color;
  }
}
.calc-name-input {
  margin: 15px 0px;
  display: flex;
  justify-content: space-around;
  height: 30px;
  width: 328px;
}
.calculator {
  text-align: center;
  width: 328px;
  height: 100%;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
}
.calc-container {
  border: solid 1px $color-bright;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.35);
}

.calculator-title {
  min-height: 40px;
  text-align: center;
}

.display {
  background-color: $display-color;
  height: 150px;
  width: 100%;
  align-self: center;
  border: solid 1px $color-bright;
}

.input,
.operations {
  text-align: right;
}

.input {
  margin: 0;
  height: 90px;

  h3 {
    color: $color-bright;
    margin: 0;
    padding: 20px 20px;
    font-size: 2rem;
    font-weight: 500;
  }
}

.operations {
  margin: 0;
  height: 60px;

  h4 {
    color: $color-operations;
    margin: 0;
    padding: 15px 20px;
    letter-spacing: 0.01em;
    font-size: 1.4rem;
    font-weight: 400;
  }
}

.ButtonWrapper {
  text-align: center;
  width: 328px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
}

.calc-button {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px $color-bright;
  margin: 0;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  color: $color-dark;
  background-color: $btn-color;
  &:hover {
    filter: opacity(0.85);
    transition: 0.2s;
  }
  &:active {
    background-color: $active-btn-color;
    color: $color-bright;
  }
}
.NumberButtons {
  width: 246px;
  display: flex;
  flex-wrap: wrap;
  :last-child {
    width: 162px;
  }
}
.numbers {
  display: flex;
  flex-wrap: wrap;
}

.OperatorButtons {
  .calc-button {
    background-color: $operator-btn-color;
    color: $color-bright;
    font-size: 1.5rem;
    font-weight: 500;
    &:active {
      background-color: $active-btn-color;
    }
  }
}

.ClearButton {
  width: calc(100% - 2px);
  .calc-button {
    background-color: $clear-btn-color;
    color: $color-bright;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    &:active {
      background-color: $active-btn-color;
    }
  }
}

.requirements {
  margin: 0 100px;

  code {
    background-color: ivory;
    font-family: monospace;
    letter-spacing: 0.1em;
  }

  ul {
    margin: 32px 0 0 -40px;
  }
}
